<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiTapNhom_QLBH.Properties.Settings.BTN_dotNetConnectionString"
            connectionString="Data Source=DESKTOP-HG3P3LE\SQLEXPRESS;Initial Catalog=BTN_dotNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>